
<!-- Footer -->
<footer class="page-footer font-small pt-4 mt-3" style="background-color: #3E3F3C; color: white">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3" style="padding: 2rem;">

        <!-- Content -->
        
        <img class="img-responsive center-block" src="https://homesppc-images.s3.us-east-2.amazonaws.com/Brokeredby_Logo_White.png" alt="Real Logo">

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        

        <ul class="list-unstyled">
          <li>
            <span>DMA REAL ESTATE</span>
          </li>
          <li>
            <span>2750 SOUTH STATE STREET SUITE 3</span>
          </li>
          <li>
            <span>ANN ARBOR, MI, 48104</span>
          </li>
          <li>
            <span>PHONE: (734).677-6699</span>
          </li>
          <li>
            <span>EMAIL: SALES@DMAREALESTATE.COM</span>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        

        <ul class="list-unstyled">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About Real</a>
          </li>
          <li>
            <a href="/commission">Commission Plan</a>
          </li>
          <li>
            <a href="/revenue">Revenue Share</a>
          </li>
          <li>
            <a href="/equity">Equity Ownership</a>
          </li>
          <li>
            <a href="/culture">Culture</a>
          </li>
        
        <li>
          <a href="https://www.facebook.com/DMARealEstateMI" target="_blank"><svg style="height: 1rem" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook" class="svg-inline--fa fa-facebook" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.8 90.69 226.4 209.3 245V327.7h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.3 482.4 504 379.8 504 256z"></path></svg> Facebook</a>
        </li> 
        <li>
          <a href="https://www.youtube.com/channel/UCSkeMH-QLh020VKlBS65o-A" target="_blank"><svg style="height: 1rem" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="youtube" class="svg-inline--fa fa-youtube" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M549.7 124.1c-6.281-23.65-24.79-42.28-48.28-48.6C458.8 64 288 64 288 64S117.2 64 74.63 75.49c-23.5 6.322-42 24.95-48.28 48.6-11.41 42.87-11.41 132.3-11.41 132.3s0 89.44 11.41 132.3c6.281 23.65 24.79 41.5 48.28 47.82C117.2 448 288 448 288 448s170.8 0 213.4-11.49c23.5-6.321 42-24.17 48.28-47.82 11.41-42.87 11.41-132.3 11.41-132.3s0-89.44-11.41-132.3zm-317.5 213.5V175.2l142.7 81.21-142.7 81.2z"></path></svg> YouTube</a>
        </li>
        
        </ul>
      </div>
      <!-- Grid column -->
      

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Brokered by:
    <a href="https://joinreal.com/" target="_blank"> Real Broker, LLC</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>

  