<style>
    
    
    .btn-primary {
      background-color: #05C3F9;
      border-color: #05C3F9;
    }
    .btn-primary:hover {
      background-color: #F84C6C;
      border-color: #F84C6C;
    }

    .nav-link {
      color: #05C3F9;
    }

    
    body {
      background-color: white;
    }
    a {
      color: #05C3F9;
    }
    a:hover {
      color: #F84C6C;
    }
    .btn-link {
      color: #05C3F9;
      border-color: #05C3F9;
    }
    .btn-link:hover {
      color: #F84C6C;
      border-color: #F84C6C;
    }
    .carousel-inner {
        position: relative;
        width: 80%;
        overflow: hidden;
        margin-right: auto;
        margin-left: auto; 
      }
      .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); 
      }
      .carousel-control-prev-icon {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
      }
      .carousel-control-prev {
        border: white;
        width: 10%;
      }
      .carousel-control-next {
        border: white;
        width: 10%;
      }
      .navbar-light .navbar-nav .nav-link {
        color: #05C3F9;
        
        letter-spacing: 2px;
      }
      

  </style>
  <script src="https://kit.fontawesome.com/58127525af.js" crossorigin="anonymous"></script>
</head>
<body>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Let's Connect!! </h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="https://submit-form.com/c5BI0w8A">
          <div class="form-group">
            <label for="name" class="col-form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" required="true">
          </div>
          <div class="form-group">
            <label for="phone" class="col-form-label">Phone</label>
            <input type="text" class="form-control" id="phone" name="phone" required="true">
          </div>
          <div class="form-group">
            <label for="email" class="col-form-label">Email</label>
            <input type="text" class="form-control" id="email" name="email" required="true" >
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message</label>
            <textarea class="form-control" id="message-text" name="message" ></textarea>
          </div>
          <input
            type="hidden" name="_redirect" value="https://blooming-lake-33552.herokuapp.com/" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Send Info</button>
      </form>
      </div>
    </div>
  </div>
</div>
<!--- End Modal --->

  <div class="container">
      
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white;">
      <a class="navbar-brand" target="_blank" href="https://www.dmarealestate.com/"><img src="https://homesppc-images.s3.us-east-2.amazonaws.com/DMA+Real+Estate+w+real+thumb.png" class="img-fluid" style="left: 1rem; top: 1rem;" width="60" height="60" alt="image"></a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav" style="width: 100%">
          <li class="nav-item">
            <a class="nav-link font-weight-bold" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold" href="/about">About Real</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold" href="/commission">Commission Plan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold" href="/revenue">Revenue Share</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold" href="/equity">Equity Ownership</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold" href="/culture">Culture</a>
          </li>
          <li class="nav-item ml-auto">
            <a href="tel:7348001148" class="btn btn-primary">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
              </svg> Give Us A Call
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  
  <div class="container">
    
    <div class="jumbotron">
      
    </div>
    <div class="d-flex justify-content-center" style="margin-bottom: 1rem;">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Learn More!
      </button>
    </div>